<!--
  @description       : LWC component for showing tooltips.
  @author            : Hitesh Garg
  @last modified on  : 06-23-2021
  @last modified by  : Hitesh Garg
  Modifications Log 
  Ver   Date         Author        Modification
  1.0   11-25-2020   Hitesh Garg   Initial Version
-->
<template>
	<div class="slds-grid" style="position:relative">
		<section aria-describedby="popover-body" aria-labelledby="popover-header" class="slds-popover slds-popover_hide"
			style={sectioncss} role="dialog">
			<lightning-button-icon icon-name="utility:close" variant="bare" class="slds-float_right slds-popover__close"
				size="small" title="Close dialog" tabindex="0" onclick={closePopover} if:false={ishoverable}></lightning-button-icon>

			<header if:true={heading} class="slds-popover__header">
				<h2 class="slds-truncate slds-text-heading_small" id="popover-header" title="Review warning">{heading}
				</h2>
			</header>
            <slot name="header" class="slds-popover__header"></slot>
            <template if:false={isRichText}>
                <div if:true={content} class="slds-popover__body tooltipColor" >
                    <p class="tooltipclass">{content}</p>
                </div>
            </template>
            <template if:true={isRichText}>
                <div if:true={content} class="slds-popover__body tooltipColor" id="popover-body">
                    <lightning-formatted-rich-text value={content} tabindex="0">
                    </lightning-formatted-rich-text>
                </div>
            </template>
            
			<slot name="content" class="slds-popover__body"></slot>
		</section>

		<lightning-icon class="button cursor" tabindex="0" onclick={showPopover} icon-name={iconName} variant={iconVariant} size={size}
			alternative-text="Show popover" if:false={ishoverable}></lightning-icon>

		<lightning-icon class="button" tabindex="0" onmouseover={showPopover} icon-name={iconName} variant={iconVariant} size={size}
			alternative-text="Show popover" if:true={ishoverable} onmouseout={closePopover}></lightning-icon>
	</div>
</template>