<!--
  @description       : Component using custom tooltip 
  @author            : Hitesh Garg
  @last modified on  : 06-24-2021
  @last modified by  : Hitesh Garg
  Modifications Log 
  Ver   Date         Author        Modification
  1.0   06-24-2021   Hitesh Garg   Initial Version
-->
<template>
    <lightning-card variant="narrow" icon-name="utility:custom_apps" title="Custom Tooltip">
        <div class="slds-var-m-around_small">
            <c-custom-tool-tip content={tooltipContent} nubbin-class="slds-nubbin_left-bottom" is-rich-text="true">
            </c-custom-tool-tip>
        </div>
    </lightning-card>
</template>